@import url(./_left/header-top__container_left.css);
@import url(./_right/header-top__container_right.css);
@import url(./__item/header-top__container__item.css);

.header-top__container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 80%;
  margin: auto;
}
